<div class="main-container" id="main-container">
    <div id="sidebar" class="sidebar">
        <ul class="nav nav-list">
            <li class="">
                <a href="#/" class="dropdown-toggle">
                    <i class="menu-icon fa fa-home"></i>
                    <span class="menu-text">首页</span>
                </a> <b class="arrow"></b>
            </li>
            <li class="active">
                <a href="#/storeMgmt" class="dropdown-toggle">
                    <i class="menu-icon fa fa-university" style="font-size: 14px; position: relative; top: -2px;"></i>
                    <span class="menu-text">门店查询</span>
                </a>
                <b class="arrow"></b>
            </li>

            <li>
                <a href="#/salesRecords" class="dropdown-toggle">
                    <i class="menu-icon fa fa-group" style="font-size: 15px; position: relative; top: -1px;"></i>
                    <span class="menu-text">交易查询</span>
                </a>
                <b class="arrow"></b>
            </li>

            <li>
                <a href="#/accountStatement" class="dropdown-toggle">
                    <i class="menu-icon  fa fa-book" style="font-size: 17px; position: relative; top: -1px;"></i>
                    <span class="menu-text">对账管理</span>
                </a>
                <b class="arrow"></b>
            </li>

            <li>
                <a href="#/alipay" class="dropdown-toggle">
                    <i class="menu-icon iconfont icon-alipay"></i>
                    <span class="menu-text">支付宝商家平台</span>
                </a>
                <b class="arrow"></b>
            </li>

        </ul>

    </div>
    <!-- ngView:  --><div class="main-content ng-scope" ng-view=""><div class="breadcrumbs ng-scope" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class=" fa fa-university home-icon" style="font-size: 18px;"></i>
            门店查询
        </li>
    </ul>
</div>
    <div class="page-content ng-scope">
        <div class="panel panel-default">
            <div class="panel-heading">
                门店列表
            </div>
            <div class="panel-body">
                <div class="form-group row mb15">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon input-group-onlytext">门店：</span>
                            <input id="storeInput" type="text" class="form-control dropdown-toggle ng-pristine ng-valid" ng-model="searchFilter.store" placeholder="门店名称 / 门店编号" ng-change="filterSubstores()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <ul class="dropdown-menu" aria-labelledby="storeInput" style="margin-left: 62px; min-width: 200px; min-height: 37px;">
                                <!-- ngRepeat: substore in substoreList | orderBy: 'substore_no' | limitTo: 8 track by substore.id -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <select class="form-control ng-pristine ng-valid" style="width: 90px;" ng-model="searchFilter.status" ng-options="status.id as status.name for status in storeStatus"><option value="" class="">全部状态</option><option value="0">启用</option><option value="1">停用</option></select>
                    </div>
                </div>
                <div class="form-group row mb15">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon input-group-onlytext">终端：</span>
                            <input id="terminalInput" type="text" class="form-control dropdown-toggle ng-pristine ng-valid" ng-model="searchFilter.terminal" placeholder="终端名称 / 终端编号" ng-change="filterTerminals()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <ul class="dropdown-menu" aria-labelledby="terminalInput" style="margin-left: 62px; min-width: 200px; min-height: 37px;">
                                <!-- ngRepeat: terminal in terminalList | orderBy: 'terminal_no' | limitTo: 8 track by terminal.id -->
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-2">
                            <a class="btn btn-primary" style="width: 90px;" ng-click="getSubstoreRecords()">
                                <i class="fa fa-search"></i>
                                <span class="btn-text">查询</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div id="data-table"> -->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>门店编号</th>
                            <th>门店名称</th>
                            <th>门店地址</th>
                            <th>联系方式</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- ngRepeat: record in records -->
                        </tbody>
                    </table>
                    <div ng-show="!status.loading" class="">
                        <div class="alert alert-warning alert-dismissable ng-hide" ng-show="status.loadFailed">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <strong>查询失败：</strong>未能获取门店记录，请确保网络正常后再次尝试。
                        </div>
                        <div class="alert alert-info alert-dismissable" ng-show="!status.loadFailed &amp;&amp; records.length == 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <strong>未查询到任何门店</strong>
                        </div>
                    </div>
                    <!-- 分页 -->
                    <div class="row table-footer">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <select class="form-control ng-pristine ng-valid" ng-model="pageSize" ng-change="pageFlipped()" ng-options="item for item in pageSizes"><option value="0" selected="selected">10</option><option value="1">20</option><option value="2">30</option><option value="3">50</option></select>
                        </div>
                        <div class="col-sm-8 col-md-7 col-lg-5">
                            <div class="wosai-pagination">
                                <div class="wosai-control">
                                    <div class="btn-group">
                                        <a class="btn btn-link" ng-disabled="page == 1" ng-click="page = 1; pageFlipped();" disabled="disabled">
                                            <i class="fa fa-fast-backward"></i>
                                        </a>
                                        <a class="btn btn-link" ng-disabled="page == 1" ng-click="page = (page - 1 > 0 ? page - 1 : 1); pageFlipped();" disabled="disabled">
                                            <i class="fa fa-step-backward"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="wosai-page">
                                    <div class="input-group" ng-init="targetPage = page">
                                        <div class="input-group-addon transparent">
                                            第
                                        </div>
                                        <input type="tel" class="form-control ng-pristine ng-valid" style="min-width: 50px;text-align: center;" ng-model="targetPage" ng-keyup="pageSpecified($event)" ng-value="page" value="1">
                                        <div class="input-group-addon transparent ng-binding">
                                            页，共0页
                                        </div>
                                    </div>
                                </div>
                                <div class="wosai-control">
                                    <div class="btn-group">
                                        <a class="btn btn-link" ng-disabled="page == maxPage" ng-click="page = (page + 1 < maxPage ? page + 1 : maxPage); pageFlipped();">
                                            <i class="fa fa-step-forward"></i>
                                        </a>
                                        <a class="btn btn-link" ng-disabled="page == maxPage" ng-click="page = maxPage; pageFlipped();">
                                            <i class="fa fa-fast-forward"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-2 col-md-3 col-lg-6 text-right">
                            <p class="ng-binding">显示0到0，共0记录</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div id="loading" style="width: 729px; height: 933px; display: none;"></div>
</div>