<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.shouyingbao.pbs.mapper.MchSubCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.shouyingbao.pbs.entity.MchSubCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>

  <resultMap id="BaseResultMapVO" type="com.shouyingbao.pbs.vo.MchSubCompanyVO" extends="BaseResultMap">
    <result column="mchCompany_name" property="mchCompanyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, `desc`, address, company_id, create_at, create_by, update_at, update_by, 
    is_delete
  </sql>

  <sql id="Base_Column_VOList" >
    mch_sub_company.id, mch_sub_company.`name`, mch_sub_company.`desc`, mch_sub_company.address, mch_sub_company.company_id, mch_sub_company.create_at, mch_sub_company.create_by, mch_sub_company.update_at, mch_sub_company.update_by,
    mch_sub_company.is_delete,mch_company.name AS mchCompanyName
  </sql>
  <sql id="list_where_clause">
    <if test="name != null and name != ''">
      and mch_sub_company.name like
      concat('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    <if test="companyId != null and companyId != ''">
      and mch_sub_company.company_id = #{companyId}
    </if>
    and mch_sub_company.is_delete = 0
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mch_sub_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mch_sub_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shouyingbao.pbs.entity.MchSubCompany" useGeneratedKeys="true" keyProperty="id" >
    insert into mch_sub_company (`name`, `desc`, address, 
      company_id, create_at, create_by, 
      update_at, update_by, is_delete
      )
    values (#{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=INTEGER}, #{createAt,jdbcType=TIMESTAMP}, #{createBy,jdbcType=INTEGER}, 
      #{updateAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{isDelete,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shouyingbao.pbs.entity.MchSubCompany" useGeneratedKeys="true" keyProperty="id" >
    insert into mch_sub_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      `name`,
      `desc`,
      address,
      company_id,
      create_at,
      create_by,
      update_at,
      update_by,
      is_delete,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{name,jdbcType=VARCHAR},
      #{desc,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR},
      #{companyId,jdbcType=INTEGER},
      #{createAt,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=INTEGER},
      #{updateAt,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=INTEGER},
      #{isDelete,jdbcType=TINYINT},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shouyingbao.pbs.entity.MchSubCompany" >
    update mch_sub_company
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shouyingbao.pbs.entity.MchSubCompany" >
    update mch_sub_company
    set `name` = #{name,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=INTEGER},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectListByPage" resultMap="BaseResultMapVO" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_VOList" />
    from mch_sub_company left join mch_company on mch_sub_company.company_id = mch_company.id
    <where>
      <include refid="list_where_clause" />
    </where>
    <if test="orderby == null">
      order by mch_sub_company.create_at desc
    </if>
    <if test="currentPage != null">
      limit
      #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectListCount" parameterType="java.util.Map"
          resultType="java.lang.Integer">
    select
    count(1)
    from
    mch_sub_company
    <where>
      <include refid="list_where_clause" />
    </where>
  </select>

  <select id="selectByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from mch_sub_company
    <if test="companyId > 0">
      where company_id = #{companyId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>