<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.shouyingbao.pbs.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.shouyingbao.pbs.entity.Role" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, `desc`,type, create_at, create_by, update_at, update_by, is_delete
  </sql>
  <sql id="list_where_clause">

  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `role`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `role`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shouyingbao.pbs.entity.Role" useGeneratedKeys="true" keyProperty="id" >
    insert into `role` (`name`, `desc`,type,create_at,
      create_by, update_at, update_by, 
      is_delete)
    values (#{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{createAt,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=INTEGER}, #{updateAt,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.shouyingbao.pbs.entity.Role" useGeneratedKeys="true" keyProperty="id" >
    insert into `role`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      `name`,
      `desc`,
       type,
      create_at,
      create_by,
      update_at,
      update_by,
      is_delete,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{name,jdbcType=VARCHAR},
      #{desc,jdbcType=VARCHAR},
      #{type,jdbcType=TINYINT},
      #{createAt,jdbcType=TIMESTAMP},
      #{createBy,jdbcType=INTEGER},
      #{updateAt,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=INTEGER},
      #{isDelete,jdbcType=TINYINT},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shouyingbao.pbs.entity.Role" >
    update `role`
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shouyingbao.pbs.entity.Role" >
    update `role`
    set `name` = #{name,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=INTEGER},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectListByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from `role`
    <where>
      <include refid="list_where_clause" />
    </where>
    <if test="orderby == null">
      order by create_at desc
    </if>
    <if test="currentPage != null">
      limit
      #{currentPage,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  <select id="selectListCount" parameterType="java.util.Map"
          resultType="java.lang.Integer">
    select
    count(1)
    from
    `role`
    <where>
      <include refid="list_where_clause" />
    </where>
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    r.id, r.`name`, r.`desc`,r.type, r.create_at, r.create_by, r.update_at, r.update_by, r.is_delete
    from `role` r left join user_role ur on r.id = ur.role_id
    where ur.user_id = #{userId}

  </select>
  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from `role`
    where type = #{type}
  </select>
</mapper>